In [2]:
#!pip install mysql-connector-python
#https://pypi.org/project/mysql-connector-python/

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="mysql",
  database="student_mgnt"
)
# cursor select,insert,create,update,delete processing 
mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM tbl_employee")

# myresult = mycursor.fetchall()

# for x in myresult:
#     print(x)
    
# print("---------------------------------------------------------------")
# mycursor.execute("SELECT * FROM tbl_employee where emp_gender = 'female'")

# myresult = mycursor.fetchone()

# print(myresult)
print("---------------------------------------------------------------")
print("---------------------------------------------------------------")

# parameter binding [late binding] preventing sql injection
sql = "INSERT INTO `tbl_employee`(`emp_name`, `emp_pass`, `emp_sal`, `emp_bonus`, `emp_dob`, `emp_mob_no`, `emp_address`) VALUES (%s,%s,%s,%s,%s,%s,%s)"
val = ('chinmay','mysql','10340.00','2000','1992-09-09','91-887-990-6543','Surat,Gujarat')

mycursor.execute(sql, val)
# insert, update, delete, create, alter
mydb.commit()

print(mycursor.rowcount, "record inserted.")

---------------------------------------------------------------
---------------------------------------------------------------
1 record inserted.

In [3]:
mycursor = mydb.cursor()
sql = "update `tbl_employee` set `emp_name` = %s where emp_id = %s"
val = ('Chinmay','25')

mycursor.execute(sql, val)
# insert, update, delete, create, alter
mydb.commit()

print(mycursor.rowcount, "record updated.")

1 record updated.

In [7]:
mycursor = mydb.cursor()
sql = "DELETE FROM `tbl_employee` WHERE emp_id = 3"

mycursor.execute(sql)
# insert, update, delete, create, alter
mydb.commit()

print(mycursor.rowcount, "record deleted.")

1 record deleted.